<div class="bare">
	<h1>Discord Music Bot</h1>
	<a href="https://github.com/invainn/Discord-Music-Bot" class="btn btn-default"><i class="fa fa-github" aria-hidden="true"></i> Repo</a>
	<div class="bottomspace"></div>
	<img class="img-fluid" src="https://i.gyazo.com/c7ceb0ed971731471b9987dd9824dd11.png">
	<div class="bottomspace"></div>
	<p>Discord Music Bot is a bot I started making recently in order to play songs in a server with friends and as a way to learn ES6 and Node.js more.</p>
	<p>This bot uses Node.js as the backend and uses the Discord.js library in order to interact with Discord's RESTful API.</p>
	<p>This bot can play youtube links by downloading an audio stream and stream it directly through the bot into a Discord channel. It can also queue songs and play entire playlists.</p>
	<p>The bot I use for my server is deployed on Heroku.</p>
</div>