<p><i class="fa fa-envelope" aria-hidden="true"></i> Email Address - <a href="mailto:anthonybennett@nevada.unr.edu">anthonybennett@nevada.unr.edu</a></p>
<p><i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn - <a href="https://www.linkedin.com/in/anthony-bennett-b1b380a2/">https://www.linkedin.com/in/anthony-bennett-b1b380a2/</a></p>
<p><i class="fa fa-github" aria-hidden="true"></i> GitHub - <a href="https://github.com/invainn/">https://github.com/invainn/</a></p>
<p><i class="fa fa-phone-square" aria-hidden="true"></i> Phone Number - 1 (702) 970-1102</p>