h2 {
	margin-bottom: 15px;
	margin-top: 10px;
	text-align: center;
}

.bottomspace {
	margin-bottom: 50px;
}

.navbar-fixed-bottom {
	align-content: center;
	padding-top: 15px;
}

.navbar .container i {
	padding-right: 10px;
}

.navbar p {
	text-align: center;
}

.light {
	font-weight: 300;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;

  justify-content: center;
}

p a {
	color: black;
}

p a:hover {
	transition: color 0.2s ease;
	color: grey;
}

