h2 {
	margin-bottom: 15px;
	margin-top: 10px;
	text-align: center;
}

.jumbotron {
	margin-top: 500px;
}

.bottomspace {
	margin-bottom: 50px;
}

.navbar-fixed-bottom {
	align-content: center;
	padding-top: 15px;
}

.navbar .container i {
	padding-right: 10px;
}

.navbar p {
	text-align: center;
}

p a {
	color: black;
}

p a:hover {
	color: grey;
}

