<div class="bare verticle">
	<h2>QuickEat</h2>
	<a href="https://github.com/invainn/quickeat" class="btn btn-default"><i class="fa fa-github" aria-hidden="true"></i> Repo</a>
	<div class="bottomspace"></div>
	<img class="img-fluid" src="https://i.gyazo.com/6faa5aadc8c1b774b5afb7a3fb577ac4.png">
	<div class="bottomspace"></div>
	<p>QuickEat is an Android application that I built in two weeks in May 2015 as a final project for CS 135 Introduction to Computer Science 1 and as a fun project to explore Android development.</p>
	<p>QuickEat utilizes Google's Geolocation API to find the user's location and queries Google's Places API for restaurants within a 1 mile radius. It then retrieves the list of objects in JSON and QuickEat lists them in the app.</p>
	<p>Users are able to call, get directions, and perform other actions through selecting a restaurant in the list.</p>
</div>