.bare {
	background-color: white;
	margin: 80px auto 40px auto;
	width: 100%;
	border-radius: 5px;
	padding: 40px 70px;
	font-weight: normal;
}

.bottomspace {
	margin-bottom: 28px;
}

h1 {
	font-size: 38px;
}

p {
	font-size: 28px;
	font-weight: 200;
}

img {
	width: 100%;
	height: auto;
	margin: 50px auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}