.bare {
	background-color: white;
	margin: 0 auto;
	width: 100%;
	border-radius: 5px;
	padding: 40px 50px;
	font-weight: normal;
}

.bottomspace {
	margin-bottom: 28px;
}

h1 {
	font-size: 28px;
}

p {
	font-size: 18px;
	font-weight: 200;
	width: 100%;
	margin: 0 auto;
}

img {
	width: 100%;
	height: auto;
	max-height: 75%;
	max-width: 75%;
	margin: 25px auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}