<div class="bare row">
	<div class="col-lg-8 col-md-6 col-sm-12">
	 	<div class="bottomspace"></div>
	 	<h1>Hi, I'm Anthony Bennett.</h1>
	 	<div class="bottomspace"></div>
		<p>I'm a Computer Science and Engineering major on my 3rd year at the University of Nevada, Reno.</p>
		<p>I am currently a Software Engineering Intern at IGT and a TA for Embedded Systems Design.</p>
		<div class="bottomspace"></div>
		<p>I'm an avid learner and developing is my passion. I love seeing a project start from nothing to becoming a finished product that others and I can enjoy. I am a huge music nerd, speedcuber, and PC gamer.</p>
	</div>
	<div class="col-lg-4 col-md-6 col-sm-12">
		<img class="img-rounded center-block" src="assets/image1.png" alt="me">
	</div>
</div>
