<div class="bare">
 	<h1>Hi, I'm Anthony Bennett.</h1>
 	<div class="bottomspace"></div>
	<p>I'm a Computer Science and Engineering major on my 3rd year at the University of Nevada, Reno.</p>
	<p>I am currently a Software Engineering Intern at IGT and a TA for Embedded Systems Design.</p>
	<div class="bottomspace"></div>
	<p>I'm an avid learner and developing is my passion. I love seeing a project start from nothing to becoming a finished product that I and others can enjoy. I am also a huge music nerd, speedcuber, and PC gamer.</p>
</div>